{% extends "main.html" %}
{% block content %}
<body>
    <div class="login-wrapper">
    <div class="registration_label">Вход</div>
    <form method="POST" class="form-group">
            {% csrf_token %}
            <div class="field">
                <label class="label">Электронная почта</label>
                <input class="input-field" type="text" name="username" value={{ username }}>
            </div>

            <div class="field">
                <label class="label">Пароль</label>
                <input class="input-field" type="password" name="password" value={{ password }}>
            </div>
            <div class="messages">
                {% for message in messages %}
                    <p class="message">{{ message }}</p>
                {% endfor %}
            </div>
            <button type="submit" class="btn login-btn-success">Войти</button>
            <div class="out-refs">
                <a href="/info" class="to-main">Продолжить без входа</a>
                <a href="/register" class="btn to-register">зарагестрироваться</a>
            </div>
        </form>
    </div>
</body>
{% endblock %}