body {
    font-family: "Montserrat", sans-serif;
    /*background-color: honeydew;*/
}

a {
    text-decoration: none;
}

.menu {
    position: fixed;
    left: 40px;
    top: 40px;
    width: 250px;
    padding: 30px;
    /*box-shadow: 0 5px 10px 0 rgba(0, 0 ,0, 0.1);*/
}

.menu a {
    display: block;
    width: 100%;
    height: 30px;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
}

.menu__selected {
    color: red;
}

.content {
    max-width: 900px;
    margin-left: 400px;
    margin-top: 30px;
}

h1 {
    font-size: 30px;
}

.specialties {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    /*border: 1px solid black;*/
}

.specialties a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    transition: 1s;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    margin-right: 20px;
}

.menu a:hover {
    transform: scale(1.05);
    color: pink;
}

.specialties a:hover {
    transform: scale(1.05);
}

.specialties a:last-child {
    margin-right: 0;
}

.user-menu {
    position: fixed;
    left: 1200px;
    top: 10px;
    width: 250px;
    height: 200px;
    padding: 30px;
    /*border: 4px double black;*/
}


.department {
    /*transition: 1s;*/
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    /*border: none;*/
    /*border: 4px double black;*/
    /*border-radius: 15px;*/
    /*background-color: aliceblue;*/
    margin-bottom: 20px;
    /*background-color: white;*/
    width: 300px;
}

.department-label {
    font-size: 20px;
    font-weight: 600;
}

.doctor {
    margin-top: 10px;
    line-height: 1.3;
}

.calendar {
    margin-top: 15px;
    /*border: 4px double black;*/
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.day {
    width: 80px;
    height: 80px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    /*border: 4px double black;*/
    user-select: none;
    padding: 5px;
}

.day div {
    color: inherit;
}

.talons-wrapper {
    margin-top: 15px;
}

.talons {
    /*margin-top: 50px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 550px;
}

.talon {
    display: flex;
    width: 50px;
    height: 50px;
    border: none;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    background-color: white;
}

.talon__taken {
    background-color: pink;
}

.fields {
    margin-top: 25px;
}

.accept-button {
    background: #4272d7;
    /*padding: 10px;*/
    margin-top: 10px;
    width: 120px;
    height: 35px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    border: none;
}

.message {
    margin: 15px;
    margin-top: 25px;
}

.success_message {
    color: green;
}

.error_message {
    color: pink;
}


.appointments {
}

.appointment {
    width: 300px;
    position: relative;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    /*border: 1px solid black;*/
    margin-bottom: 15px;
    display: flex;
}

.appointment-wrap {
    /*display: flex;*/
}

.covid-statistics {
    margin-top: 20px;
    font-size: 14px;
}

.covid-statistics p {
    margin: 0px;
}

.loader {
    width: 50px;
    margin: 30px auto;
    height: 50px;
    /*display: none;*/
}

.loader .heart {
    position: absolute;
    width: 50px;
    height: 45px;
    opacity: 0.6;
    -webkit-animation: beat 3s infinite ease-in-out;
}

.heart:before,
.heart:after {
    position: absolute;
    content: '';
    left: 25px;
    top: 0;
    width: 25px;
    height: 40px;
    background: black;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

@-webkit-keyframes beat {
    0%,
    100% {
        -webkit-transform: scale(0.4);
    }
    50% {
        -webkit-transform: scale(1);
    }
}

.heart:before,
.heart:after {
    background: black;
}


.close {
    border: none;
    background-color: inherit;
    top: 0;
    right: 0;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 0;
    position: absolute;
}

.close:before,
.close:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 30px;
    background-color: grey;
    transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: top left;
    content: '';
}

.close:after {
    transform: rotate(-45deg) translate(-50%, -50%);
}

.close:hover {
    cursor: pointer;
}

.close:hover::after,
.close:hover::before {
    background-color: indianred;
}


.account-link {
    border: 1px solid #dadce0;
    border-radius: 4px;
    padding: 10px;
    margin: 8px;
    display: block;
    font-size: 14px;
    text-align: center;
}


.register-wrapper {
    display: block;
    width: 80%;
    /*margin:auto;*/
}

.profile-container {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    height: 230px;
    /*



{#margin-top: 30px;#}    */
    /*border: 4px double black;*/
}

.label {
    font-size: 14px;
}

.field {
    height: 60px;
    margin: 20px;
    margin-left: 0px;
}

.error {
    font-size: 10px;
    color: red;
    margin: 0px;
    padding: 0px;
}

.input-field {
    display: block;
    width: 200px;
    margin-top: 5px;
    height: calc(1.8rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-save {
    background: #4272d7;
    padding: 15px;
    width: 150px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    border: none;
}

.btn-cancel {
    background: white;
    padding: 15px;
    margin-right: 20px;
    margin-top: 30px;
    width: 150px;
    cursor: pointer;
    font-size: 16px;

    color: #4272d7;
    border-radius: 5px;
    border: 1px solid #4272d7;
    /*



{#align-self: flex-end;#}    */
}

.messages {
    margin-left: 12px;
    color: red;
}

.success_message_wrapper {
    margin-top: 25px;
}