body {
    font-family: "Montserrat", sans-serif;
}
.register-wrapper{
    display:block;
    width: 25%;
    margin:auto;
}
.login-wrapper{
    display:block;
    width: 25%;
    margin:auto;
    /*{#margin-top: 40px;#}*/
}
.registration_label{
    text-align: center;
    width: 100%;
    font-size: 20px;
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    /*{#margin-top: 30px;#}*/
    /*{#border: 4px double black;#}*/
}
.label{
    font-size: 16px;
}
.field{
    height: 80px;
    margin: 10px;
}
.error{
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    color: red;
}
.input-field{
    /*{#margin-top: 6px;#}*/
    border-radius: 6px;
    border: none;
    background: #fafafa;
    width:100%;
    height: 30px;
    font-size: 16px;
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.6);
}
.login-btn-success{
    background: #4272d7;
    padding: 10px;
    margin: 10px;
    width: 150px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    border: none;
    /*{#align-self: flex-end;#}*/
}
.register-btn-success{
    background: #4272d7;
    padding: 10px;
    margin: 10px;
    width: 220px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    border: none;
    /*{#align-self: flex-end;#}*/
}

.messages{
    margin-left: 12px;
    color: red;
}

.out-refs{
    position: fixed;
    left: 1200px;
    top: 20px;
}
.to-main{
    font-size: 12px;
    padding: 2px;
    border-right: 2px solid grey;
}
.to-login{
    font-size: 12px;
}
.to-register{
    font-size: 12px;
}