{% extends "index.html" %}
{% block content %}
<h1>История посещений</h1></br>
<div class="appointments">
{% for appointment in appointments %}
    <form method="POST" class="appointment" >
        {% csrf_token %}
        <div class="appointment-wrap">
            <h4>{{ appointment.visit_date }}</h4>
            <a>{{ appointment.visit_time }}</a></br>
            <a>Врач: {{ appointment.doctor }}</a></br>
            <a>Статус: {{ appointment.status}}</a></br>
            {% if appointment.cost %}
                <a>Цена: {{ appointment.cost}}</a></br>
                <a>Дней на лечение:{{ appointment.days_to_recover}}</a></br>
                <a>{{ appointment.treatment}}</a></br>
            {% endif %}
        </div>
        <button type="submit" class="close" name=pk_to_delete value={{ appointment.pk }}></button>
    </form>
{% endfor %}
</div>
{% endblock %}